@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color:#DAE7DE;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  height: 100vh;
  margin:0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  font-size: 70px;
  font-weight: 600;
}
.grid__item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F15203;
}
.grid__item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #008A69;
  color: #FEFCFD;
}
.grid__item:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F44607;
  color: #FFFDFF;
}
.grid__item:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7ABC5;
  color: #F03900;
  font-size: 50px;
}
.grid__item:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5F5FA8;
  color: #FDFFFF;
  font-size: 50px;
}
.grid__item:nth-child(6) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC028;
  color: #ED4111;
  font-size: 50px;
}
.grid__item:nth-child(7) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F97374;
  color: #F8FFFF;
  font-size: 50px;
}