@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(318px, auto));
  grid-template-rows: repeat(auto-fill, minmax(300px, 50vh));
  grid-auto-rows: minmax(300px, 50vh);
  gap: 1px;
  height: 100%;
}

.grid__item-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  box-sizing: border-box;
}
.grid__item-color:nth-child(1) {
  height: 100%;
  background-color: #B7B59D;
}
.grid__item-color:nth-child(3) {
  height: 100%;
  background-color: #FE3E15;
}
.grid__item-color:nth-child(5) {
  height: 100%;
  background-color: #79738B;
}
.grid__item-color:nth-child(6) {
  height: 100%;
  background-color: #CAFF66;
}
.grid__item-color:nth-child(7) {
  height: 100%;
  background-color: #8E2D2D;
}
.grid__item-color:nth-child(8) {
  height: 100%;
  background-color: #32A0F9;
}
.grid__item-color:nth-child(10) {
  height: 100%;
  background-color: #39856F;
}
.grid__item-color:nth-child(12) {
  height: 100%;
  background-color: #DFBCE1;
}

.grid__item-img:nth-child(2) {
  background: url(./images/01.jpg) center/cover;
  overflow: hidden;
}
.grid__item-img:nth-child(4) {
  background: url(./images/02.jpg) center/cover;
  overflow: hidden;
}
.grid__item-img:nth-child(9) {
  background: url(./images/03.jpg) center/cover;
  overflow: hidden;
}
.grid__item-img:nth-child(11) {
  background: url(./images/04.jpg) center/cover;
  overflow: hidden;
}

.color__title, .color__subtitle {
  font-weight: 600;
  text-align: center;
  width: 70%;
}
.color__title {
  font-size: 26px;
}
.color__subtitle {
  font-size: 15px;
}